<div class="deposit-div">
    <h2>Pending deposit requests</h2>

   <div class="deposit-req-wrap">

    <%for(let i = 0; i < depositreq.length; i++){%>
        <div class="deposit-req">
            <div>Username: <%= depositreq[i].user%></div>
            <div>Plan: <%= depositreq[i].plan%> </div>
            <div>Currency: <%= depositreq[i].currency%></div>
            <div>Amount: <%= depositreq[i].amount%></div>
            <form action="/approvedeposit/<%= depositreq[i].id %>" method="post">
                <button type="submit" class="approve-deposit">
                    Approve
                </button>

            </form>

            <form action="/canceldeposit/<%= depositreq[i].id %>" method="post">
                <button type="submit" class="approve-deposit">
                    cancel
                </button>

            </form>
        </div>
    <%}%>
  
   </div>

   <h2>Approved deposits</h2>

   <div class="deposit-req-wrap">

    <%for(let i = 0; i < approvedreq.length; i++){%>
        <div class="deposit-req">
            <div>Username: <%= approvedreq[i].user%></div>
            <div>Plan: <%= approvedreq[i].plan%> </div>
            <div>Currency: <%= approvedreq[i].currency%></div>
            <div>Amount: <%= approvedreq[i].amount%></div>
            <hr />
            <form action="/addballance/<%= approvedreq[i].id %>" method="post">
                <div>Update user ballance</div>
                <input type="number" name="newbal">
                <button type="submit" class="approve-deposit">
                    Add ballance
                </button>
            </form>
        </div>
    <%}%>
  
   </div>

   <h2>Canceled deposits</h2>

   <div class="deposit-req-wrap">

    <%for(let i = 0; i < canceleddep.length; i++){%>
        <div class="deposit-req">
            <div>Username: <%= canceleddep[i].user%></div>
            <div>Plan: <%= canceleddep[i].plan%> </div>
            <div>Currency: <%= canceleddep[i].currency%></div>
            <div>Amount: <%= canceleddep[i].amount%></div>
        </div>
    <%}%>
  
   </div>

   <h2>Withdrawals</h2>

   <div class="deposit-req-wrap">

    <%for(let i = 0; i < withdraws.length; i++){%>
        <div class="deposit-req">
            <div>Username: <%= withdraws[i].user%></div>
            <div>Currency: <%= withdraws[i].currency%></div>
            <div>Amount: <%= withdraws[i].amount%></div>
        </div>
    <%}%>
  
   </div>

</div>