<div class="deposit-div">
    <h2>Reset password Request</h2>

    <div class="deposit-req-wrap">
        <%for(let i=0; i < changepassreq.length; i++){%>
            <div class="deposit-req">
                <div>email: <%= changepassreq[i].email %></div>
                <div>password: 1234</div>
                <form action="/removepassreq/<%= changepassreq[i].id %>" method="post">
                    <button>
                        Email Sent(clear)
                    </button>
                </form>
            </div>
        <%}%>
    </div>


    <h2>Pending deposit requests</h2>

   <div class="deposit-req-wrap">

    <%for(let i = 0; i < depositreq.length; i++){%>
        <div class="deposit-req">
            <div>Username: <%= depositreq[i].user%></div>
            <div>User email: <%= depositreq[i].usermail %></div>
            <div>Plan: <%= depositreq[i].plan%> </div>
            <div>Currency: <%= depositreq[i].currency%></div>
            <div>Amount: <%= depositreq[i].amount%></div>
            <form action="/approvedeposit/<%= depositreq[i].id %>" method="post">
                <button type="submit" class="approve-deposit">
                    Approve
                </button>

            </form>
        </div>
    <%}%>
  
   </div>

   <h2>Approved deposits</h2>

   <div class="deposit-req-wrap">

    <%for(let i = 0; i < approvedreq.length; i++){%>
        <div class="deposit-req">
            <div>Username: <%= approvedreq[i].user%></div>
            <div>User email: <%= approvedreq[i].usermail%></div>
            <div>Plan: <%= approvedreq[i].plan%> </div>
            <div>Currency: <%= approvedreq[i].currency%></div>
            <div>Amount: <%= approvedreq[i].amount%></div>
            <hr />
            <form action="/addballance/<%= approvedreq[i].id %>" method="post">
                <div>Update user ballance</div>
                <input type="number" name="newbal">
                <button type="submit" class="approve-deposit">
                    Add ballance
                </button>
            </form>
        </div>
    <%}%>
  
   </div>

   <h2>Withdrawals</h2>

   <div class="deposit-req-wrap">

    <%for(let i = 0; i < withdraws.length; i++){%>
        <div class="deposit-req">
            <div>Username: <%= withdraws[i].user%></div>
            <div>Currency: <%= withdraws[i].currency%></div>
            <div>Amount: <%= withdraws[i].amount%></div>

            <form action="/cancelwithdrawal/<%= withdraws[i].id %>" method="post">
                <button type="submit" class="approve-deposit">
                    cancel
                </button>
    
            </form>

            <form action="/clearpending/<%= withdraws[i].id %>" method="post">
                <button type="submit" class="approve-deposit">
                    clear pending
                </button>
    
            </form>
        </div>

    <%}%>
  
   </div>

   <h2>Canceled withdrawals</h2>

   <div class="deposit-req-wrap">

    <%for(let i = 0; i < canceledwithdraws.length; i++){%>
        <div class="deposit-req">
            <div>Username: <%= canceledwithdraws[i].user%></div>
            <div>Currency: <%= canceledwithdraws[i].currency%></div>
            <div>Amount: <%= canceledwithdraws[i].amount%></div>
        </div>
    <%}%>
  
   </div>

</div>