<div class="deposit-div">
    <h4 id="auh">All Users <ion-icon name="chevron-down-outline"></ion-icon></h4>

    <div class="deposit-req-wrap">
    <table id="aut" style="width: 100%; text-align: center;" class="hidden">
            <tr>
                <th>Fullname</th>
                <th>Username</th>
                <th>Email</th>
                <th>Last logged in</th>
            </tr>
            <%for(let i=0; i < allUsers.length; i++) {%>
                <tr>
                    <td><%= allUsers[i].fullname %></td>
                    <td><%= allUsers[i].username %></td>
                    <td><%= allUsers[i].email %></td>
                    <td><%= new Date(allUsers[i].lastLoggedIn).toLocaleString() %></td>
                </tr>
            <%}%>
        </table>
    </div>


    <h4 id="rph">Reset password Request <ion-icon name="chevron-down-outline"></ion-icon></h4>

    <div id="rpb" class="deposit-req-wrap hidden">
        <%for(let i=0; i < changepassreq.length; i++){%>
            <div class="deposit-req">
                <div>email: <%= changepassreq[i].email %></div>
                <div>password: 1234</div>
                <form action="/removepassreq/<%= changepassreq[i].id %>" method="post">
                    <button>
                        Email Sent(clear)
                    </button>
                </form>
            </div>
        <%}%>
    </div>


    <h4 id="pdrh">Pending deposit requests <ion-icon name="chevron-down-outline"></ion-icon></h4>

   <div class="deposit-req-wrap hidden">

       <table id="pdrt" style="width: 100%; text-align: center;" class="hidden">
           <tr>
               <th>Username</th>
               <th>User email</th>
               <th>Plan</th>
               <th>Currency</th>
               <th>Amount</th>
               <th>Time</th>
           </tr>
           
           <%for(let i = 0; i < depositreq.length; i++){%>
               <tr>
                   <td><%= depositreq[i].user%></td>
                   <td><%= depositreq[i].usermail %></td>
                   <td><%= depositreq[i].plan%> </td>
                   <td><%= depositreq[i].currency%></td>
                   <td><%= depositreq[i].amount%></td>
                   <td><%= depositreq[i].time.toLocaleString() %></td>
                   <td>
                       <form action="/approvedeposit/<%= depositreq[i].id %>" method="post">
                           <button type="submit" class="approve-deposit">
                               Approve
                           </button>
                       </form>
                   </td>
                </tr>
           <%}%>
       </table>
  
   </div>

   <h4 id="adh">Approved deposits <ion-icon name="chevron-down-outline"></ion-icon></h4>

   <div class="deposit-req-wrap hidden">
    <table id="adt" style="width: 100%; text-align: center;" class="hidden" >
        <tr>
            <th>Username</th>
            <th>User email</th>
            <th>Plan</th>
            <th>Currency</th>
            <th>Amount</th>
            <th>Time</th>
            <th>Update user balance</th>
        </tr>
        <%for(let i = 0; i < approvedreq.length; i++){%>
            <tr>
                <td><%= approvedreq[i].user%></td>
                <td><%= approvedreq[i].usermail%></td>
                <td><%= approvedreq[i].plan%> </td>
                <td><%= approvedreq[i].currency%></td>
                <td><%= approvedreq[i].amount%></td>
                <td><%= approvedreq[i].time.toLocaleString() %></td>
                <td>
                    <form action="/addballance/<%= approvedreq[i].id %>" method="post">
                        <input type="number" name="newbal">
                        <button type="submit" class="approve-deposit">
                            Add ballance
                        </button>
                    </form>
                </td>
            </tr>
        <%}%>
    </table>
  
   </div>

   <h4 id="wh">Withdrawals <ion-icon name="chevron-down-outline"></ion-icon></h4>

   <div class="deposit-req-wrap hidden">
    <table id="wt" style="width: 100%; text-align: center;" class="hidden">
        <tr>
            <th>Username</th>
            <th>Currency</th>
            <th>Amount</th>
            <th>Time</th>
            <th>Action</th>
            <th></th>
            <th>withdraw address</th>
        </tr>
        <%for(let i = 0; i < withdraws.length; i++){%>
            <tr>
                <td><%= withdraws[i].user%></td>
                <td><%= withdraws[i].currency%></td>
                <td><%= withdraws[i].amount%></td>
                <td><%= withdraws[i].time.toLocaleString() %></td>
                <td>
                    <% if(withdraws[i].status === "pending") {%>
                        <form action="/approvewithdraw/<%= withdraws[i].id %>" method="post">
                            <button type="submit" class="approve-deposit">
                                approve
                            </button>
                        </form>
                        <%}%>
                        <form action="/cancelwithdrawal/<%= withdraws[i].id %>" method="post">
                            <button type="submit" class="approve-deposit">
                                cancel
                            </button>
                        </form>
                    </td>
                    <td>
                        <form action="/clearpending/<%= withdraws[i].id %>" method="post">
                            <button type="submit" class="approve-deposit">
                                clear pending
                            </button>
                            
                        </form>
                    </td>
                    <td><%= withdraws[i].wallet %></td>
                    
            </tr>
    
        <%}%>
    </table>
  
   </div>

   <h4 id="cwh">Canceled withdrawals <ion-icon name="chevron-down-outline"></ion-icon></h4>

   <div id="cwb" class="deposit-req-wrap hidden">

    <%for(let i = 0; i < canceledwithdraws.length; i++){%>
        <div class="deposit-req">
            <div>Username: <%= canceledwithdraws[i].user%></div>
            <div>Currency: <%= canceledwithdraws[i].currency%></div>
            <div>Amount: <%= canceledwithdraws[i].amount%></div>
        </div>
    <%}%>
  
   </div>

</div>

<script src="/adminpanel.js"></script>