<div class="dash-body-widget">
    <div class="tradingview-widget-container">
        <div class="tradingview-widget-container__widget"></div>
        <script type="" src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js" async>
        {
        "symbols": [
          {
            "proName": "FOREXCOM:SPXUSD",
            "title": "S&P 500"
          },
          {
            "proName": "FOREXCOM:NSXUSD",
            "title": "US 100"
          },
          {
            "proName": "FX_IDC:EURUSD",
            "title": "EUR/USD"
          },
          {
            "proName": "BITSTAMP:BTCUSD",
            "title": "Bitcoin"
          },
          {
            "proName": "BITSTAMP:ETHUSD",
            "title": "Ethereum"
          }
        ],
        "showSymbolLogo": true,
        "colorTheme": "dark",
        "isTransparent": false,
        "displayMode": "adaptive",
        "locale": "en"
      }
        </script>
      </div>
</div>

<div class="dash-body-acct-info">
    <div class="dash-acct-info-item">
        <div class="item-name">
            Deposits
        </div>
        <div class="item-value">
            &pound;<%= userdetails.account.deposits.amount%>
        </div>
        <div class="item-info">
            <ion-icon name="information-circle-outline"></ion-icon> <%= userdetails.account.deposits.description%>
        </div>
    </div>

    <div class="dash-acct-info-item">
        <div class="item-name">
            Withdrawals
        </div>
        <div class="item-value">
            &pound;<%= userdetails.account.withdraws.amount%>
        </div>
        <div class="item-info">
          <ion-icon name="information-circle-outline"></ion-icon> <%= userdetails.account.withdraws.description%>
        </div>
    </div>

    <div class="dash-acct-info-item">
        <div class="item-name">
            Active Deposits
        </div>
        <div class="item-value">
            &pound;<%=userdetails.account.activedeposits.amount %>
        </div>
        <div class="item-info">
          <ion-icon name="information-circle-outline"></ion-icon> <%= userdetails.account.activedeposits.description%>
        </div>
    </div>

    <div class="dash-acct-info-item">
        <div class="item-name">
            Current Balance
        </div>
        <div class="item-value">
            &pound;<%= userdetails.account.currentballance.amount%>
        </div>
        <div class="item-info">
          <ion-icon name="information-circle-outline"></ion-icon> <%= userdetails.account.currentballance.description%>
        </div>
    </div>
</div>

<div class="dash-body-chart">
    <div class="tradingview-widget-container">
        <div id="tradingview_741c8"></div>
        <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
        
        <script>
          new TradingView.widget(
          {
          "width": "auto",
          "height": 610,
          "symbol": "FX:EURUSD",
          "timezone": "Etc/UTC",
          "theme": "Dark",
          "style": "1",
          "locale": "en",
          "toolbar_bg": "#f1f3f6",
          "enable_publishing": false,
          "withdateranges": true,
          "range": "ytd",
          "hide_side_toolbar": false,
          "allow_symbol_change": true,
          "details": true,
          "studies": [
            "CCI@tv-basicstudies"
          ],
          "container_id": "tradingview_741c8"
        }
          );
          </script>
        
        </div>
</div>

<div class="dash-crypto-prices">
    <h3 class="welcome-title">
        Live Cryptocurrency Prices
    </h3>
    <div class="tradingview-widget-container">
        <div class="tradingview-widget-container__widget"></div>
        
        <script type="" src="https://s3.tradingview.com/external-embedding/embed-widget-screener.js" async>
            {
                "width": "100%",
                "height": "500",
                "defaultColumn": "overview",
                "screener_type": "crypto_mkt",
                "displayCurrency": "USD",
                "colorTheme": "light",
                "locale": "en",
                "isTransparent": true
            }
        
        </script>
                                        
    </div>
</div>