<div class="ref-div">
    <h3>
        Referral Link
    </h3>
    <div class="ref-link-copy">
        <input type="text" value=<%= refdata.reflink %>>
        <div class="cpy">
            Copy
        </div>
    </div>
    <div>
        You were referred by: <%= refdata.referrer%>
    </div>
</div>

<div class="ref-div">
    <h3>
        Referred Users
    </h3>
    
    <div class="referred-users-details">
        <div class="ref-info">Referred Users: <%= refdata.yourrefs.length %> </div>
        <div class="ref-info">Active Users: <%= refdata.yourrefs.length%> </div>
        <div class="ref-info">Commissions Earned: &pound;<%= refdata.yourrefs.length * 10%></div>
    </div>
</div>