<div class="withdraw-div">
    <div>
        Withdrawal of funds: from this page you can submit your withdrawal request
    </div>
    <div class="ballance">Account ballance: &pound;<span><%= userdetails.account.currentballance%></span> </div>
    <div class="pending">Pending withdrawal: &pound;<span><%= userdetails.account.activedeposits%></span></div>
    <div class="papa">
        <div class="papa-elements processing">
            <div class="papa-el-head">Processing</div>
            <div class="processing-el">Bitcoin</div>
            <div class="processing-el">Ethereum</div>
            <div class="processing-el">Trc20</div>
        </div>
        <div class="papa-elements available">
            <div class="papa-el-head">Available</div>
            <div class="available-el">&pound;<%= userdetails.account.currentballance %></div>
            <div class="available-el">&pound;<%= userdetails.account.currentballance %></div>
            <div class="available-el">&pound;<%= userdetails.account.currentballance %></div>
        </div>
        <div class="papa-elements pending">
            <div class="papa-el-head">Pending</div>
            <div class="pending-el">&pound;<%= userdetails.account.activedeposits%></div>
            <div class="pending-el">&pound;<%= userdetails.account.activedeposits%></div>
            <div class="pending-el">&pound;<%= userdetails.account.activedeposits%></div>
        </div>
        <div class="papa-elements account">
            <div class="papa-el-head">Account</div>
            <div class="account-el">
                <%if(userdetails.bitcoinaddress){%>
                    <%=userdetails.bitcoinaddress%>
                <%} else{%>
                    <a href="/dashboard?page=profile">not set</a>
                <%}%>
            </div>
            <div class="account-el">
                <%if(userdetails.ethereumaddress){%>
                    <%=userdetails.ethereumaddress%>
                <%} else{%>
                    <a href="/dashboard?page=profile">not set</a>
                <%}%>
            </div>
            <div class="account-el">
                <%if(userdetails.trc20address){%>
                    <%=userdetails.trc20address%>
                <%} else{%>
                    <a href="/dashboard?page=profile">not set</a>
                <%}%>
            </div>
        </div>
    </div>
    <div class="submit-withdraw">
        
    </div>
</div>