<div class="withdraw-div">
   <div class="withdraw-card">
    <%if(withdrawmsg != ""){%>
        <%= withrawmsg %>
    <%}%>
    <div>
        Withdrawal of funds: from this page you can submit your withdrawal request
    </div>
    <div class="ballance">Account ballance: &dollar;<span><%= userdetails.account.currentballance%></span> </div>
    <div class="pending">Pending withdrawal: &dollar;<span><%= userdetails.account.withdraws%></span></div>
    <div class="papa">
        <div class="papa-elements processing">
            <div class="papa-el-head">Processing</div>
            <div class="processing-el">Bitcoin</div>
            <div class="processing-el">Ethereum</div>
            <div class="processing-el">Trc20</div>
        </div>
        <div class="papa-elements available">
            <div class="papa-el-head">Available</div>
            <div class="available-el">&dollar;<%= userdetails.account.currentballance %></div>
            <div class="available-el">&dollar;<%= userdetails.account.currentballance %></div>
            <div class="available-el">&dollar;<%= userdetails.account.currentballance %></div>
        </div>
        <div class="papa-elements pending">
            <div class="papa-el-head">Pending</div>
            <div class="pending-el">&dollar;<%= userdetails.account.withdraws%></div>
            <div class="pending-el">&dollar;<%= userdetails.account.withdraws%></div>
            <div class="pending-el">&dollar;<%= userdetails.account.withdraws%></div>
        </div>
        <div class="papa-elements account">
            <div class="papa-el-head">Account</div>
            <div class="account-el">
                <%if(userdetails.bitcoinaddress){%>
                    <%=userdetails.bitcoinaddress%>
                <%} else{%>
                    <a href="/dashboard?page=profile">not set</a>
                <%}%>
            </div>
            <div class="account-el">
                <%if(userdetails.ethereumaddress){%>
                    <%=userdetails.ethereumaddress%>
                <%} else{%>
                    <a href="/dashboard?page=profile">not set</a>
                <%}%>
            </div>
            <div class="account-el">
                <%if(userdetails.trc20address){%>
                    <%=userdetails.trc20address%>
                <%} else{%>
                    <a href="/dashboard?page=profile">not set</a>
                <%}%>
            </div>
        </div>
    </div>

    <% if(userdetails.account.currentballance > 0 && (userdetails.bitcoinaddress || userdetails.ethereumaddress || userdetails.trc20address)){%>
        <div class="deposit-submit" id="withdraw-btn" type="submit">
            <div class="submit">
                Withdraw
            </div>
        </div>
     <%}%>

   </div>
   
       
  <div class="withdraw-card hidden">
      <form action="/withdrawfunds" method="post">
          <p>Amount</p>
          <input type="number" placeholder="Select amount" name="withdrawamount" value="500" />
          <p>Currency</p>
          <select  name="withdrawcurrency">
              <% if(userdetails.bitcoinaddress){%>
                  <option>Bitcoin</option>
              <%}%>
              <% if(userdetails.ethereumaddress){%>
                  <option>Ethereum</option>
              <%}%>
              <% if(userdetails.trc20address){%>
                  <option>Trc20</option>
              <%}%>
          </select>

          <div class="submit-div">
              <button type="submit">Confirm</button>
          </div>
      </form>
  </div>
       
       
    
</div>

<script>
    let withdraw = document.getElementById("withdraw-btn")
    let withdrawdivs = document.getElementsByClassName("withdraw-card")

    withdraw.addEventListener("click", ()=>{
        for(let i=0; i < withdrawdivs.length; i++){
            withdrawdivs[i].classList.toggle("hidden")
        }
    })
</script>