<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/dashboard.css">
    <script src="/dashnav.js"></script>
    <!--smartsupp in dashboard-->
    <script type="text/javascript">
        var _smartsupp = _smartsupp || {};
        _smartsupp.key = '54716f59d59464b49bb6937db7089203bd4faad0';
        window.smartsupp||(function(d) {
          var s,c,o=smartsupp=function(){ o._.push(arguments)};o._=[];
          s=d.getElementsByTagName('script')[0];c=d.createElement('script');
          c.type='text/javascript';c.charset='utf-8';c.async=true;
          c.src='https://www.smartsuppchat.com/loader.js?';s.parentNode.insertBefore(c,s);
        })(document);
        </script>
        <!---->
        <!--translation-->
        <style>
            .goog-te-gadget .goog-te-combo {
                   margin: 0px 0 !important;
                   width: 100px;
                   font-weight: 400;
                   font-weight: bold;
               }
                  .goog-logo-link{
                          display: none!important;
                      }
                </style>
    <title>Dormantaccountrefunds - Dashboard</title>
</head>
<body>
    <div class="dash-wrap">
        <nav class="dash-nav" id="dash-nav">
           <div class="dash-nav-wrap">
            <div class="dash-nav-welcome">
                <div class="welcome-title"><%= userdetails.username %></div>
                <div>welcome</div>
            </div>

            <div class="dash-nav-items">
                <div class="nav-item-title">Main</div>
                <a href="/dashboard">
                    <div class="nav-item-tab">
                        <div class="logo"><ion-icon name="home"></ion-icon></div>
                        <div class="name">Dashboard</div>
                    </div>
                </a>
                <div class="nav-sub-items-wrap hidden"></div>
            </div>

            <div class="dash-nav-items">
                <div class="nav-item-title">Finances</div>
                <div class="nav-item-tab">
                    <div class="logo"><ion-icon name="swap-horizontal"></ion-icon></div>
                    <div class="name">Transactions</div>
                    <div class="toggle-icon"><ion-icon name="chevron-down-outline"></ion-icon></div>
                </div>
                <div class="nav-sub-items-wrap hidden">
                    <div class="nav-sub-item">
                       <a  class="item-name" href="/dashboard?page=deposit">Deposit</a>
                    </div>

                    <div class="nav-sub-item">
                        <a class="item-name" href="/dashboard?page=withdraw">Withdraw</a>
                    </div>
                </div>
            </div>

            <div class="dash-nav-items">
                <div class="nav-item-title">Account summary</div>
                <div class="nav-item-tab">
                    <div class="logo"><ion-icon name="server"></ion-icon></div>
                    <div class="name">History</div>
                    <div class="toggle-icon"><ion-icon name="chevron-down-outline"></ion-icon></div>
                </div>
                <div class="nav-sub-items-wrap hidden">
                    <div class="nav-sub-item">
                       <a  class="item-name" href="/dashboard?page=history&type=deposit">Deposit Histroy</a>
                    </div>

                    <div class="nav-sub-item">
                        <a class="item-name" href="/dashboard?page=history&type=withdrawal">Withdrawal History</a>
                    </div>

                    <div class="nav-sub-item">
                        <a class="item-name" href="/dashboard?page=history&type=commissions">Commissions</a>
                    </div>
                </div>
            </div>

            <div class="dash-nav-items">
                <div class="nav-item-title">Referrals</div>
                <a href="/dashboard?page=referrals">
                    <div class="nav-item-tab">
                        <div class="logo"><ion-icon name="link"></ion-icon></div>
                        <div class="name">Referrals</div>
                    </div>
                </a>
                <div class="nav-items-wrap hidden"></div>
            </div>

            <div class="dash-nav-items">
                <div class="nav-item-title">Settings</div>
                <a href="/dashboard?page=profile">
                    <div class="nav-item-tab">
                        <div class="logo"><ion-icon name="settings"></ion-icon></div>
                        <div class="name">Profile</div>
                    </div>
                </a>
                <div class="nav-item-tab">
                    <div class="logo"><ion-icon name="log-out"></ion-icon></div>
                    <div class="name"><form action="/logout" method="post"><button>Logout</button></form></div>
                </div>
                <div class="nav-items-wrap hidden"></div>
            </div>
           </div>
        </nav>

        <!--start of body-->
        <div class="dash-body">
            <div class="dash-body-wrap">
                <div class="dash-body-header">           
                <div id="google_translate_element"></div>
                    <div id="dash-ham" class="dash-hamburger">
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>

                    <div class="dash-user">
                        <div class="username">
                            <%= userdetails.username %>
                        </div>
                        <div>
                            <ion-icon name="chevron-down-outline"></ion-icon>
                        </div>
                    </div>
                </div>

                <div class="dash-body-nav">
                    <div class="body-nav-info">
                        <div class="welcome-title">
                            Dashboard
                        </div>
                        <div>
                            Home <ion-icon name="chevron-forward-outline"></ion-icon> <span><%= page || "dashboard"%></span>
                        </div>
                    </div>

                    <%if(userdetails.isadmin){%>
                        <a href="/dashboard?page=dar_admin_control_panel">Admin panel</a>
                    <%}else{%>
                        <a class="deposit" href="/dashboard?page=deposit">
                            <div class="deposit-cross-logo">
                                <ion-icon name="add-outline"></ion-icon>
                            </div>
                            <div class="deposit-deposit">
                                Deposit
                            </div>
                       </a>
                    <%}%>
                </div>

                <%if(!page){%>
                    <%- include("./partials/dashboard/home")%>
                <%} else if(page == "deposit"){%>
                    <%- include("./partials/dashboard/deposit")%>
                <%} else if(page == "withdraw"){%>
                    <%- include("./partials/dashboard/withdraw")%>
                <%} else if(page == "history"){%>
                    <%- include("./partials/dashboard/history")%>
                <%} else if(page == "referrals"){%>
                    <%- include("./partials/dashboard/referrals")%>
                <%}else if(page == "profile"){%>
                    <%- include("./partials/dashboard/profile")%>
                <%}else if(page == "dar_admin_control_panel"){%>
                    <%- include("./partials/dashboard/adminpanel")%>
                <%}%>

                <div class="dash-body-footer">
                    Copyright © 2022 dormantaccountrefunds.com . All rights reserved.
                </div>

            </div>
        </div>
    </div>


    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<script type="text/javascript">
    function googleTranslateElementInit() {
        new google.translate.TranslateElement(
            {pageLanguage: 'en'},
            'google_translate_element'
        );
    }
</script>
<script type="text/javascript"
        src=
"https://translate.google.com/translate_a/element.js?
cb=googleTranslateElementInit">
</script>
</body>
</html>